<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.syc.blog.mapper.article.UserPraiseArticleMapper">
    <insert id="saveList" parameterType="java.util.List" useGeneratedKeys="true" keyProperty="id">
        insert into user_praise_article
        (user_id,article_id,date_insert,status)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            ( #{item.userId}, #{item.articleId}, #{item.dateInsert},#{item.status} )
        </foreach>
    </insert>
</mapper>