<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>技能</title>
    <link th:href="@{/layui/css/layui.css}" href="../../../static/layui/css/layui.css" rel="stylesheet"/>
</head>
<body>

<table class="layui-hide" id="skillTable" lay-filter="skillTable"></table>

<script type="text/html" id="topBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-normal" lay-event="add">添加</button>
    </div>
</script>

<script type="text/html" id="rightBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script  th:src="@{/layui/layui.js}"></script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table,
            $=layui.jquery,
            layer=layui.layer;


        table.render({
            elem: '#skillTable'
            ,url:'/skill/queryListPage'
            ,toolbar: '#topBar'
            ,cols: [  [
                {type: 'checkbox', fixed: 'left'}
                ,{field:'id', title:'ID', width:80, fixed: 'left'}
                ,{field:'name', title:'名称', width:120}
                ,{field:'dataNum', title:'掌握度', width:120}
                ,{field:'color', title:'颜色', width:150}
                ,{field:'status', title:'状态', width:120,templet:function (d) {
                        return d.status == 1 ? "启用" : "禁用";
                    }}
                ,{field:'sort', title:'排序', width:80}
                ,{fixed: 'right', title:'操作', toolbar: '#rightBar', width:250}
            ]  ]
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(skillTable)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data;
            switch(obj.event){
                case 'add':
                    var open = layer.open({
                        type: 2,
                        area:['500px','460px'],
                        title: "技能添加",
                        content:"/skill/add"
                    });
                    break;
            }
        });

        //监听行工具事件
        table.on('tool(skillTable)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url:"/skill/delete",
                        type:"POST",
                        data:{"id":data.id},
                        success:function (e) {
                            if(e.success){
                                obj.del();
                                layer.close(index);
                            }else{
                                alert(e.msg);
                            }
                        },dataType:"json"
                    });
                });
            } else if(obj.event === 'edit'){
                var open = layer.open({
                    type: 2,
                    area:['500px','460px'],
                    title: "技能更新",
                    content: '/skill/edit?id='+data.id
                });
            }
        });
    });
</script>
</body>
</html>