.lantern-box2 {position: fixed;top: 40px;right: 120px;z-index: 999;}

.lantern-box1 {position: fixed;top: 40px;right:60px;z-index: 998;}

.lantern-box1 .lantern {
    animation: swing 5s infinite ease-in-out;
    box-shadow: -5px 5px 30px 4px rgba(252, 144, 61, 1);
}

.lantern {position: relative;width: 120px;height: 90px;margin: 50px;
    background: rgba(216, 0, 15, 0.8);border-radius: 50% 50%;-webkit-transform-origin: 50% -100px;
    animation: swing 3s infinite ease-in-out;
    box-shadow: -5px 5px 50px 4px rgba(250, 108, 0, 1);
}

.lantern-a {width: 100px;height: 90px;
    background: rgba(216, 0, 15, 0.1);margin: 12px 8px 8px 8px;border-radius: 50% 50%;
    border: 2px solid #dc8f03;
}

.lantern-b {
    width: 45px;height: 90px;background: #d8000f;background: rgba(216, 0, 15, 0.1);
    margin: -4px 8px 8px 26px;border-radius: 50% 50%;border: 2px solid #dc8f03;
}

.xian {position: absolute;top: -120px;left: 60px;width: 2px;height: 120px;background: #dc8f03;
}

.weiba-a {position: relative;width: 5px;height: 20px;margin: -5px 0 0 59px;-webkit-animation: swing 4s infinite ease-in-out;
    -webkit-transform-origin: 50% -45px;background: #ffa500;border-radius: 0 0 5px 5px;
}

.weiba-b {position: absolute;top: 14px;left: -2px;width: 10px;height: 10px;background: #dc8f03;border-radius: 50%;
}

.weiba-c {position: absolute;top: 18px;left: -2px;width: 10px;height: 35px;background: #ffa500;border-radius: 0 0 0 5px;
}

.lantern:before {
    position: absolute;top: -7px;left: 29px;height: 12px;width: 60px;content: " ";display: block;z-index: 999;
    border-radius: 5px 5px 0 0;border: solid 1px #dc8f03;background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.lantern:after {position: absolute;bottom: -7px;left: 10px;height: 12px;width: 60px;content: " ";display: block;margin-left: 20px;
    border-radius: 0 0 5px 5px;border: solid 1px #dc8f03;background: #ffa500;
    background: linear-gradient(to right, #dc8f03, #ffa500, #dc8f03, #ffa500, #dc8f03);
}

.lantern-t {
    font-size: 40px;color: #dc8f03;font-weight: bold;line-height: 85px;
    text-align: center;
}

.night .lantern-t,
.night .lantern-box2,
.night .lantern-box1 {
    background: transparent !important;
}



@-moz-keyframes swing {
    0% {-moz-transform: rotate(-10deg)}
    50% {-moz-transform: rotate(10deg)}
    100% {-moz-transform: rotate(-10deg)}
}

@keyframes swing {
    0% {-webkit-transform: rotate(-10deg)}
    50% {-webkit-transform: rotate(10deg)}
    100% {-webkit-transform: rotate(-10deg)}
}