<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>服务器开小差</title>
    <link rel="stylesheet"  href="https://www.sunyuchao.com/static/layui/css/layui.css">
    <link rel="stylesheet"  href="https://www.sunyuchao.com/static/css/common.css">
    <script th:src="${iconfontUrl}"></script>
    <link rel="stylesheet" href="https://www.sunyuchao.com/static/css/fontawesome4.7.0/css/font-awesome.css">


    <style>
        #tip{margin: 0 auto;width: 420px;}
        #tip svg{font-size: 420px;color:blueviolet;}
        #tip h2{font-weight: bold;text-align: center}
        #tip p{color: #999;font-size: 15px;text-align: center;margin-top: 20px;}
        #tip p a{color: blue;}
        #choose{width: 420px;margin-top: 20px;}
        #choose button{width: 150px;}
        .discover{margin: 0 auto;width: 320px;}
    </style>
</head>
<body>
<!--搜索-->
<div class="search">
    <form>
        <input type="text" placeholder="搜索...">
        <button id="go" type="submit"></button>
    </form>
</div>
<!--右下角固定-->
<div id="permanent">
    <ul>
        <li id="toTop"><a href="javascript:;"><i class="layui-icon layui-icon-top"></i></a></li>
        <li id="feedback"><a href="#"><i class="layui-icon layui-icon-edit"></i></a></li>
        <li><a href="tencent://message/?uin=1481232419&Site=&Menu=yes"><i style="color: blueviolet;" class="layui-icon layui-icon-login-qq"></i></a></li>
        <li><a href="#"><i style="color: yellowgreen" class="layui-icon layui-icon-login-wechat"></i></a></li>
    </ul>
</div>
<div th:replace="notice :: top"></div>

<div id="tip">
    <svg class="icon" aria-hidden="true">
        <use xlink:href="#layui-extend-500"></use>
    </svg>
    <h2>哎呀，系统开了个小差......</h2>
    <p>很抱歉给你造成困扰，您可以选择：</p>
    <div id="choose">
        <div class="discover">
            <button class="layui-btn layui-btn-normal" onclick="window.location.href='/'">博客首页</button>
            <button class="layui-btn" style="background: white;color: blue;border: 1px solid blue;" onclick="window.location.href='/aboutme'">关于我</button>
        </div>
    </div>
</div>

<script src="https://www.sunyuchao.com/static/js/common.js"></script>
</body>
</html>